/* style.css */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
    padding-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn {
    background-color: #c300ff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    height: 70px;
    width: 80px;
    border-radius: 15px;
    font-size: 15px;
    font-style: initial;
}

.btn a {
    text-decoration: none;
    color: #fff;

}

.btn:hover {
    background-color: #0465ce;
    font-size: 18px;
}
.addbtn{
    display: flex;
    align-items:  center;
    justify-content: end;
}
.addbtn button{
    width: 200px;
    background-color: rgb(0, 248, 21);
    color: black;
    font-size: 25px;

}
/* -------------------------------------- */
/* CSS for Popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.popup-content {
    background-color: #fff;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* ---------------------------------------------- */
        /* Define the style for the modal */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            text-align: center;
        }

        /* Style for the confirmation buttons */
        .modal-buttons {
            margin-top: 20px;
        }